<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">



<context:component-scan base-package="com.xu.**" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="2" />
     </bean>


    <bean class="com.xu.core.MyViewResolver" id="myViewResolver">
        <property name="order" value="1"/>
    </bean>

    <mvc:annotation-driven>
        <!--区分请求后缀-->
        <mvc:path-matching suffix-pattern="true"/>
    </mvc:annotation-driven>

    <mvc:default-servlet-handler/>

    <!--JSon 跨域,奇怪我不配置这个json也能在war之间跑-->
    <mvc:cors>
        <!-- 所有方式过来的请求都能跨域 -->
        <mvc:mapping path="/**" allowed-methods="*"/>
    </mvc:cors>




    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*"/>
            <mvc:mapping path="/**"/>
            <!-- <mvc:exclude-mapping path="/static/**"/>
             <mvc:exclude-mapping path="/login.html"/>
             <mvc:exclude-mapping path="/reg.html"/>
             <mvc:exclude-mapping path="/UserLogin"/>
             <mvc:exclude-mapping path="/Register"/>
             <mvc:exclude-mapping path="/api-docs"/>-->
            <bean class="com.xu.core.MyIntercepter"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>