<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/jq/jquery-3.2.1.js"></script>
</head>

<style>
    #rMessage{
        border:3px solid 	#B0C4DE;
        border-radius: 2px;
        height: 300px;
        width: 700px;
        overflow-y: scroll
    }
    .infoT{
        font-size: xx-large;
        font-weight: bolder;
        color:royalblue;
    }
</style>
<body>



<div>
    <span class="infoT">receive messages :</span>
    <br/>
    <label for="rMessage">
        <div id="rMessage">


        </div>

    </label>
    <br/>
    <br/>
    <span class="infoT">send messages :</span>
    <br/>
    <label for="sMessage">
        <textarea rows="5" cols="20" id="sMessage" style="height: 100px;width: 700px;overflow-y: scroll">


        </textarea>

    </label>
    <br/>
    <button style="color: royalblue" id="send"> send </button>
</div>


<script>


    webSocket();
    function webSocket() {
        if ("WebSocket" in window) {

            let heartBeatInterval;
            console.log("start a WebSocket!");

            // 打开一个 web socket
            //let time = new Date().getTime();
            // let ws = new WebSocket("ws://"+"58.215.50.50:2048"+"/webSocket/hitAndUbiNotie");
            let ws = new WebSocket("ws://"+"localhost:8017"+"/websocket/4");
            //let ws = new WebSocket("ws://"+"192.168.200.102:8038/saasapi"+"/webSocket/hitAndUbiNotie/"+time);

            ws.onopen = function () {
                // Web Socket 已连接上，使用 send() 方法发送数据
                ws.send("init");
                console.log("数据发送中...");
                clearInterval(heartBeatInterval);
                heartBeat();

            };

            ws.onerror = function(){
                console.log(" websocket has an error");
                // 断开重连
            };

            ws.onmessage = function (evt) {
                showTipInfo(evt.data);
            };

            function showTipInfo(data){

              //  let html = "<p>"+data+"</p>";
                let html = "<div style='color: rebeccapurple;float: left '>"+data+"</div><br/>";
                $("#rMessage").append(html);
                var message = document.getElementById('rMessage');
                message.scrollTop = message.scrollHeight;

            }

            ws.onclose = function () {
                // 关闭 websocket
                console.log("连接已关闭...reConnect...");
                reconnect();
            };

            /**
             *  定时往后端发送消息保持连接
             */
            function heartBeat() {
                heartBeatInterval = setInterval(function () {
                    ws.send("ping")
                },30*1000);
            }


            function reconnect() {
                // 断开重连
                clearInterval(heartBeatInterval);
                setTimeout(function () {
                    webSocket();
                },60000)
            }


           $("#send").click(function () {
               let text = $("#sMessage").val().trim();
               let readyState = ws.readyState;
               console.log(readyState);

               if (readyState === 1){
                   console.log("text = "+text);
                   ws.send(text);

                   // 显示发送消息
                   let date = new Date();
                   date = formatTime(date);
                   let html = "<div style='color: #2E8B57;float: right '>"+date+": "+text+"</div></br>";
                   $("#rMessage").append(html);

                   var message = document.getElementById('rMessage');
                   message.scrollTop = message.scrollHeight;

               }

           })



        } else {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }
    }


    function formatTime(time){
        let date = new Date(time);

        let year = date.getFullYear(),
            month = date.getMonth() + 1,//月份是从0开始的
            day = date.getDate(),
            hour = date.getHours(),
            min = date.getMinutes(),
            sec = date.getSeconds();
        return year + '-' +
            month + '-' +
            day + ' ' +
            hour + ':' +
            min + ':' +
            sec;
    }


</script>

</body>
</html>